<section class="foot">
    <p>Powered by</p>

    <p>
        &copy;
        <span class="brand-color">William Falk</span> 2023
    </p>

    <p>All rights reserved</p>
    <ul>
        <li>
            <a href="https://github.com/wi-fa/"
                ><img
                    id="octacat"
                    src="images/icons/icons8-octocat(1).svg"
                    alt="octocat"
                    type="svg"
            /></a>
        </li>
        <li>
            <a
                href="https://se.linkedin.com/in/william-falk-6a158a271"
                ><img
                    src="images/icons/icons8-linkedin(1).svg"
                    alt="linkedin-icon"
                    type="svg"
            /></a>
        </li>
        <li>
            <a href="https://dribbble.com/wi-fa"
                ><img
                    src="images/icons/icons8-dribble.svg"
                    alt="dribble-icon"
                    type="svg"
            /></a>
        </li>
    </ul>
</section>
