    <!-- Navbar -->
    <nav id="navbar">
        <a href="">
            <img
                id="logo"
                typeof="svg"
                src="images/Favicon-01.svg"
                alt="logo"
            />
        </a>
        <ul id="nav" class="navigation"></ul>
        <button class="btn" id="lets-talk-btn">Let's Talk</button>
    </nav>
    <!-- End of navbar -->

    <!-- Hero -->
    <section id="hero-container">
        <div class="lines">
            <div class="head-line-hor"></div>
            <div class="head-line-ver"></div>
        </div>
        <h1 id="hero-title">
            <span class="brand-color"></span>
        </h1>
        <p id="hero-paragraph"></p>
    </section>
    <!-- End of hero -->

    <!-- Modal (Only displayed if klicked navbar-button) -->
    <aside class="modal" id="config-overlay">
        <section>
            <h3>What's up?</h3>
            <p>
                If you have a question, hit me up on my email or any of
                my other socials!
            </p>
        </section>
        <section>
            <div id="modal-socails">
                <ul>
                    <li>
                        <a
                            href="https://se.linkedin.com/in/william-falk-6a158a271"
                            ><img
                                src="images/icons/icons8-linkedin(1).svg"
                                alt="linkedin-icon"
                                type="svg"
                        /></a>
                    </li>
                    <li>
                        <a href="https://dribble.com/wi-fa/"
                            ><img
                                src="images/icons/icons8-dribble.svg"
                                alt="dribble-icon"
                                type="svg"
                        /></a>
                    </li>
                    <li>
                        <a href="https://github.com/wi-fa/"
                            ><img
                                src="images/icons/icons8-github(1).svg"
                                alt="github-icon"
                                type="svg"
                        /></a>
                    </li>
                </ul>
            </div>
            <div id="modal-email-phone">
                <ul>
                    <li>
                        <a href="mailto:wifawebbdesign@gmail.com"
                            >Wifawebbdesign@gmail.com</a
                        >
                    </li>
                    <li>
                        <a href="callto:+46706992289">+46706992289</a>
                    </li>
                </ul>
            </div>
            <div id="close-modal-container">
                <button id="close-modal">Close</button>
            </div>
        </section>
    </aside>
    <!-- End of modal -->

<!-- All HTML before converting to EJS is checked with W3C'S Validator -->
