<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wifa Admin Dashboard</title>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/dashboard.css" />


        <!-- JavaScript -->
        <script src="/scripts/dashBoard.js" defer></script>
        <script src="/scripts/app.js" defer></script>

        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!-- Favicon -->
        <link rel="icon" href="images/Favicon-01.svg" type="image/svg+xml" />
        <link rel="alternate icon" href="favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <!-- Main section -->
        <div class="dashboard-container">
            <%- include('includes/sidebar') %>
            <section>
                <div class="mobile-header">
                    <p id="back-arrow">&#8592;</p>
                    <h4 class="dashboard-h4-mobile">Add Portfolio Item</h4>
                </div>
            </section>
            <!-- Form for new portfolio items -->
            <section class="dashboard-content" id="add-portfolio-container">
                <div class="add-portfolio-header" id="dashboard-header">
                    <div id="dashboard-header-info">
                        <h2>Add new <br />Project</h2>
                        <h5 id="date-time">Hey</h5>
                    </div>
                    <h4 id="dashboard-h4-default">Overview</h4>
                </div>
                <div class="content-container" id="add-portfolio">
                    <div id="portfolio-items-container">
                        <form
                            id="add-portfolio-form"
                            action="/admin-dashboard/portfolio/add-item"
                            method="post"
                            enctype="multipart/form-data"
                            autocomplete="off"
                        >
                            <div id="first-section-form">
                                <label for="projectType">Project Type:</label>
                                <input
                                    type="text"
                                    id="projectType"
                                    name="projectType"
                                    required
                                />

                                <label for="projectName">Project Name:</label>
                                <input
                                    type="text"
                                    id="projectName"
                                    name="projectName"
                                    required
                                />

                                <label for="projectDescription"
                                    >Project Description:</label
                                >
                                <textarea
                                    id="projectDescription"
                                    name="projectDescription"
                                    required
                                ></textarea>

                                <label for="projectTools">Project Tools:</label>
                                <input
                                    type="text"
                                    id="projectTools"
                                    name="projectTools"
                                    required
                                />
                            </div>

                            <div id="second-section-form">
                                <label for="projectLinkUrl"
                                    >Project Link URL:</label
                                >
                                <input
                                    type="url"
                                    id="projectLinkUrl"
                                    name="projectLinkUrl"
                                    required
                                />

                                <label for="projectImg">Project Image:</label>
                                <input
                                    type="file"
                                    id="addProjectImg"
                                    name="projectImg"
                                    accept="image/*"
                                    required
                                />
                                <img
                                    id="addImgPreview"
                                    src=""
                                    alt="Image Preview"
                                    style="
                                        max-width: 400px;
                                        max-height: 300px;
                                        margin-bottom: 1rem;
                                        display: none;
                                    "
                                />

                                <label for="projectImgAlt"
                                    >Image Alt Text:</label
                                >
                                <input
                                    type="text"
                                    id="projectImgAlt"
                                    name="projectImgAlt"
                                    required
                                />
                        </form>
                        <!-- End of form -->
                    </div>
                    <div id="portfolio-form-buttons">
                        <button
                            form="add-portfolio-form"
                            class="portfolio-form-btn"
                            id="btn-add"
                            type="submit"
                        >
                            Add Item
                        </button>
                        <button
                            class="portfolio-form-btn"
                            id="btn-cancel"
                            type="button"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
            </section>
        </div>
        <!-- End of main -->
        <div id="switch-label">
            <p id="theme-p">Theme</p>
            </div>
        <div id="theme-switch">
            <label class="switch">
                <input type="checkbox" id="theme-toggle">
                <span class="slider round"></span>
              </label>
        </div>
    </body>
</html>

<!-- All HTML before converting to EJS is checked with W3C'S Validator -->
