<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wifa Admin Traffic</title>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/dashboard.css" />

        <!-- JavaScript -->
        <script src="/scripts/dashBoard.js" defer></script>
        <script src="/scripts/charts.js" defer></script>
        <script src="/scripts/app.js" defer></script>

        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!-- Favicon -->
        <link rel="icon" href="images/Favicon-01.svg" type="image/svg+xml" />
        <link rel="alternate icon" href="favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <!-- Main section -->
        <div class="dashboard-container">
            <%- include('includes/sidebar') %>
            <section>
                <div class="mobile-header">
                    <p id="back-arrow">&#8592;</p>
                    <h4 class="dashboard-h4-mobile">Dashboard</h4>
                </div>

            </section>
            <section class="dashboard-content">
                <div id="dashboard-header">
                    <div id="dashboard-header-info">
                        <h2>Traffic, <br />Overview</h2>
                        <h5 id="date-time">Hey</h5>
                    </div>
                    <h4 id="dashboard-h4-default">Visitors</h4>
                </div>
                <div class="content-container">
                    <div id="chart-btn">
                        <div id="buttons-for-first-chart" class="chart-toggle-buttons">
                            <button id="btnSevenDays">7 Days</button>
                            <button id="btnThirtyDays">30 Days</button>
                        </div>
                        <div id="buttons-for-second-chart" class="chart-toggle-buttons">
                            <button id="btnPercent">Percent</button>
                            <button id="btnVisits">Visits</button>
                        </div>
                    </div>

                    <div id="dash-card-container">
                        <div class="admin-cards" id="dash-card-1">
                            <canvas id="my7DaysChart"></canvas>
                            <canvas id="myChart30Days" style="display: none;"></canvas>
                        </div>

                        <div class="admin-cards" id="dash-card-2">
                            <canvas id="myDonutChart"></canvas>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- End of main -->
        <div id="switch-label">
            <p id="theme-p"></p>
            </div>
        <div id="theme-switch">
            <label class="switch">
                <input type="checkbox" id="theme-toggle">
                <span class="slider round"></span>
              </label>
        </div>
    </body>
</html>

<!-- All code is checked with W3C'S code validator https://validator.w3.org/ -->
