<!-- Här är min hemsida! Hemsidan är även publicerad på https://wifa.se via en cPanel och github pages. -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wifa Admin Page</title>

        <!-- CSS -->
        <link rel="stylesheet" href="css/shared.css" />
        <link rel="stylesheet" href="css/admin.css" />

        <!-- JavaScript -->
        <script src="/scripts/dashBoard.js" defer></script>
        <script src="/scripts/app.js" defer></script>

        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>



        <!-- Favicon -->
        <link rel="icon" href="images/Favicon-01.svg" type="image/svg+xml" />
        <link rel="alternate icon" href="favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <!-- Header section -->
        <header>
            <nav id="navbar" class="admin">
                <a href="/">
                    <img
                        id="logo"
                        typeof="svg"
                        src="images/Favicon-01.svg"
                        alt="logo"
                    />
                </a>
                <button id="admin-navbar-btn" class="btn">Get Back</button>
            </nav>
        </header>
        <!-- End of header -->

        <!-- Main section (Login form) -->
        <main>
            <section id="login-container">
                <h1>Login</h1>
                <% if (message) { %>
                    <div id="login-message"><%= message %></div>
                <% } %>
                <form action="/admin" id="login-form" method="POST">
                    <input
                        type="text"
                        placeholder="User"
                        id="username"
                        name="username"
                        required
                    /><br />
                    <input
                        type="password"
                        placeholder="Password"
                        id="password"
                        name="password"
                        required
                    /><br />
                    <button type="submit">Login</button>
                </form>
            </section>
            <!-- End of main section -->
            <div id="theme-switch">
                <p id="theme-p">Theme</p>
                <label class="switch">
                    <input type="checkbox" id="theme-toggle">
                    <span class="slider round"></span>
                  </label>
            </div>
        </main>

    </body>
</html>

<!-- All code is checked with W3C'S code validator https://validator.w3.org/ -->
