<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Thank you page of a portfolio website for William Falk, a front-end developer from sweden"
        />
        <title>William Falk's Portfolio</title>

        <!-- CSS -->
        <link rel="stylesheet" href="css/shared.css" />
        <link rel="stylesheet" href="css/overlay.css" />

        <!-- JavaScript -->
        <script src="scripts/jsonData.js" defer></script>
        <script src="scripts/preloader.js" defer></script>
        <script src="scripts/app.js" defer></script>

        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

        <!-- Favicon -->
        <link rel="icon" href="images/Favicon-01.svg" type="image/svg+xml" />
        <link rel="alternate icon" href="favicon.ico" type="image/x-icon" />

        <style>
            /* Some styling just for the thank u page */

            /* Hiding everything except backdrop */
            body > *:not(#backdrop) {
                display: none;
            }

            /* Styling the countdown before redirect */
            #countdown {
                font-size: 1.2rem;
                font-weight: bold;
                color: rgb(43, 216, 144);
                letter-spacing: 0px;
                display: flex;
                justify-content: center;
                margin-top: 0.5rem;
            }

            #countdown-container {
                text-align: center;
                font-size: 1.2rem;
                letter-spacing: 2px;
                display: flex;
                justify-content: center;
            }
        </style>
    </head>
    <body>
        <!-- Backdrop for modal -->
        <div id="backdrop"></div>
        <!-- End of backdrop -->

        <header>
            <!-- Navbar, modal and hero -->
            <%- include('includes/header') %>
            <!-- End of navbar, modal and hero -->
        </header>

        <!-- Main content -->
        <div id="countdown-container">
            <p>You will be redirected in <br /><span id="countdown">5</span></p>
        </div>
        <!-- End of main content -->

        <!-- Footer-section -->
        <footer><%- include('includes/footer') %></footer>
        <!-- End of footer -->

        <!-- Preloader container -->
        <div
            id="preloader"
            style="
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            "
        >
            <img src="images/preloader.gif" alt="preloader" />
        </div>
        <!-- End of preloader -->

        <!-- Script for this page only -->
        <script>
            let countDown = 5

            let intervall = setInterval(() => {
                countDown--
                document.getElementById('countdown').textContent = countDown

                if (countDown <= 0) {
                    clearInterval(intervall)
                    window.location.href = '/home'
                }
            }, 1000)
        </script>
    </body>
</html>

<!-- All code is checked with W3C'S code validator https://validator.w3.org/ -->
