@import '/css/shared.css';
/* 1. Root */
/* 2. Navigation */
/* 3.Login form */
* {
    -webkit-transiation: all 0.35s ease;
    -moz-transiation: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

/* 2. Navigation */

navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-bottom: .5rem;
}

/* 3.Login form */

#login-container{
    width: 30vw;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 40px;
    border: 1px solid rgb(41, 41, 41);
    background: linear-gradient(43deg, #030303, #303030);
    margin-bottom: 1rem;
}

form{
    width: 100%;
}

input {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    height: 3rem;
    outline: none;
    color: var(--white);
    background-color: rgb(32, 32, 32);
    border: none;
    border-radius: 20px;
    padding: 0;
    width: 95%;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

input:focus,
input:active {
    background-color: var(--one);
}

::placeholder {
    color: var(--white);
}

form button {
    width: 100%;
}
/* Login form mediaquerys */

@media screen and (max-width: 840px) {
    #admin-navbar-btn {
        display: none;
    }

    #login-container {
        min-width: 280px;
    }

    h1 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
}

/* All code is checked with W3C'S code validator https://validator.w3.org/ */
