@import '/css/shared.css';
/* 1. Root */
/* 2. Navigation */
/* 3.Login form */

/* 1. Root  */
* {
    -webkit-transiation: all 0.10s ease;
    -moz-transiation: all 0.10s ease;
    -o-transition: all 0.10s ease;
    transition: all 0.10s ease;
}

/* Dark theme variables (default) */
:root {
    --backg: black;
    --white: white;
    --black: black;
    --darkani: linear-gradient(43deg, #030303, #303030);
    --one: rgb(43, 216, 144);
    --two: rgb(29, 130, 87);
    --three: rgb(30, 30, 30);
    --four: rgb(197, 197, 197);
    --five: rgb(134, 240, 196);
}

/* Light theme variables */
[data-theme="light"] {
    --backg: rgb(213, 233, 195);
    --white: black; /* Adjust according to your light theme */
    --black: white;
    --darkani: linear-gradient(43deg, rgb(138, 239, 197), rgb(138, 239, 197));
    --one: rgb(43, 216, 144); /* Example colors */
    --two: rgb(100, 160, 60);
    --three: rgb(245, 245, 245);
    --four: rgb(50, 50, 50);
    --five: rgb(100, 180, 100);
    /* ... other light theme variables ... */
}

/* 2. Navigation */
navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-bottom: .5rem;
}

/* 3.Login form */
#login-container{
    width: 30vw;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 40px;
    border: 1px solid var(--three);
    background: var(--darkani);
    margin-bottom: 1rem;
}

form{
    width: 100%;
}

input {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    height: 3rem;
    outline: none;
    color: var(--white);
    background-color: var(--three);
    border: none;
    border-radius: 20px;
    padding: 0;
    width: 95%;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

input:focus,
input:active {
    background-color: var(--one);
}

::placeholder {
    color: var(--white);
}

form button {
    width: 100%;
}

#theme-toggle{
    height: auto;
}

#theme-switch {
    margin: 0 auto;
    text-align: center;
}

/* Login form mediaquerys */
@media screen and (max-width: 840px) {
    #admin-navbar-btn {
        display: none;
    }

    #login-container {
        min-width: 280px;
    }

    h1 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
}

/* All code is checked with W3C'S code validator https://validator.w3.org/ */
