@import '/css/shared.css';

/* Description */
/* 1. Main section layouts */
/* 2. Form styles (Left section) */
/* 3. Contact text (Right section) */
/* 4. Mediaquerys */

/* 1. Main section layouts */

#contact-view {
    display: flex;
    margin: 0 2rem;
}

.contact-container {
    padding: 2rem;
    border-radius: 40px;
    border: 1px solid var(--three);
    background: var(--contactform);
    margin-bottom: 1rem;
}

/* 2. Form styles */

/* Form title */

form {
    width: 100%;
}

#form-title {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/* Form inputs */
input {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    width: 100%;
    margin: 0.5rem;
    padding-left: 1rem;
    height: 3rem;
    outline: none;
    color: var(--white);
    background-color: var(--input);
    border: none;
    border-radius: 20px;
}

input:focus,
input:active {
    background-color: var(--inputactive);
}

::placeholder {
    color: var(--white);
}

/* Form layout row 1 */
#form-row-1 {
    display: flex;
}

/* Form layout row 2 */
#form-row-2 {
    display: flex;
}

/* Form layout row 3 */
#form-row-3 {
    display: flex;
}

/* Form layout row 4 */
#form-row-4 {
    display: flex;
}

/* Form layout button*/
#form-btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/* 3. Contact text (Right section) */

/* Right section with text */
#contact-text-container {
    padding: 2rem 0;
    width: 70%;
}
#contact-text-header {
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5rem;
}

#contact-text-paragraph {
    font-size: 1.5rem;
    font-weight: 200;
    margin-left: 5rem;
    margin-top: 0;
}

#theme-toggle{
    height: auto;
}

/* 4. Mediaquerys */
@media screen and (max-width: 840px) {
    #contact-view {
        padding: 0;
        flex-direction: column-reverse;
    }

    #contact-text-container {
        width: 100%;
    }
    #contact-text-header {
        font-size: 2rem;
        margin-top: -2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    #contact-text-paragraph {
        font-size: 1.5rem;
        font-weight: 200;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 0;
        margin-bottom: 0;
    }
}


/* Mediaquerys for smaller screens */
@media screen and (max-width: 450px) {
    #form-title {
        margin-left: 0rem;
        margin-right: 1rem;
    }

    #form-row-1,
    #form-row-2,
    #form-row-3,
    #form-row-4 {
        flex-direction: column;
    }

    input {
        text-align: center;
        margin-left: -0.5rem;
        margin-right: 0rem;
    }
}

/* All code is checked with W3C'S code validator https://validator.w3.org/ */
