/* 1. Root */
/* 2. Message-cards  */
/* 3. Mediaquerys */

/* Dark theme variables (default) */
:root {
    --backg: black;
    --white: white;
    --black: black;
    --darkani: linear-gradient(43deg, #030303, #303030);
    --input: rgb(52, 52, 52);
    --inputactive: rgb(43, 216, 144);
    --sidemenu: #050d0d;
    --svg: rgb(43, 216, 144);
    --dashcards: linear-gradient(43deg, #050d0d, #050d0d);
    --one: rgb(43, 216, 144);
    --two: rgb(29, 130, 87);
    --three: rgb(30, 30, 30);
    --four: rgb(197, 197, 197);
    --five: rgb(134, 240, 196);
}

/* Light theme variables */
[data-theme="light"] {
    --backg: rgb(213, 233, 195);
    --white: black;
    --black: white;
    --darkani: linear-gradient(43deg, #f2f2f2, #3ace7f);
    --input: rgb(186, 226, 201);
    --inputactive: rgb(138, 239, 197);
    --sidemenu: rgb(43, 216, 144);
    --svg: black;
    --dashcards: linear-gradient(43deg, rgb(138, 239, 197), rgb(138, 239, 197));
    --one: rgb(43, 216, 144);
    --two: rgb(138, 239, 197);
    --three: rgb(245, 245, 245);
    --four: rgb(50, 50, 50);
    --five: rgb(100, 180, 100);
}

* {
    -webkit-transiation: all 0.10s ease;
    -moz-transiation: all 0.10s ease;
    -o-transition: all 0.10s ease;
    transition: all 0.10s ease;
}

/* 2. Messages cards */
#messages {
    width: 100%;
}

.message-card {
    background: var(--dashcards);
    color: var(--white);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 20px;
}

.message-card:hover {
    transform: scale(1.02);
}

.message-summary {
    display: flex;
    cursor: pointer;
    font-size: 1.2em;
}

.message-summary img {
    margin-right: 1rem;
    border-radius: 100%;
}

.message-details {
    margin-left: 5rem;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.message-details.expanded {
    max-height: 200px;
    opacity: 1;
}

.pagination {
    text-align: center;
    margin-right: 5rem;
}

.pagination a {
    color: var(--white);
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.2s;
    margin: 0 auto;
}

.pagination a.active {
    color: var(--one);
}

.pagination a:hover:not(.active) {
    color: var(--white);
}


/* 3. Mediaquerys */
@media screen and (max-width: 768px) {
    body {
        max-width: 100%;
    }

    .pagination {
        text-align: center;
        margin-right: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .message-summary img {
        width: auto;
    }


    .dashboard-container {
        max-width: 100%;
        box-sizing: border-box;
        overflow-y: hidden;
    }
}

/* All code is checked with W3C'S code validator https://validator.w3.org/ */
