/* 1. Root */
/* 2. Html and body settings */
/* 3. Buttons and links */
/* 4. Navbar */
/* 5. Hero-section */
/* 6. Main-section */
/* 7. Footer */

/* 1. Root settings */
/* Dark theme variables (default) */
:root {
    --backg: black;
    --white: white;
    --black: black;
    --darkani: linear-gradient(43deg, #030303, #303030);
    --input: rgb(52, 52, 52);
    --inputactive: rgb(43, 216, 144);
    --contactform: linear-gradient(43deg, #030303, #303030);
    --one: rgb(43, 216, 144);
    --two: rgb(29, 130, 87);
    --three: rgb(30, 30, 30);
    --four: rgb(197, 197, 197);
    --five: rgb(134, 240, 196);
}

/* Light theme variables */
[data-theme="light"] {
    --backg: rgb(213, 233, 195);
    --white: black;
    --black: white;
    --darkani: linear-gradient(43deg, #f2f2f2, #3ace7f);
    --input: rgb(228, 237, 232);
    --inputactive: rgb(178, 237, 212);
    --contactform: linear-gradient(43deg, rgb(138, 239, 197), rgb(138, 239, 197));
    --one: rgb(43, 216, 144);
    --two: rgb(138, 239, 197);
    --three: rgb(245, 245, 245);
    --four: rgb(50, 50, 50);
    --five: rgb(100, 180, 100);
}

.brand-color {
    color: var(--one);
}

* {
    -webkit-transiation: all 0.10s ease;
    -moz-transiation: all 0.10s ease;
    -o-transition: all 0.10s ease;
    transition: all 0.10s ease;
}

/* 2. Html and body settings */
html,
body {
    margin: auto;
    padding: 0;
    /* overflow-x: hidden; */
    box-sizing: border-box;
    max-width: 1400px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    color: var(--white);
    background-color: var(--backg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.is-hidden {
    display: none;
}

/* 3. Buttons and links */
/* Default button style */
button {
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 2px;
    color: var(--white);
    background-color: var(--one);
    padding: 1rem 1.5rem;
    border-radius: 20px;
    border: none;
    transition: 150ms ease-in;
}

/* Defualt button hovering stykle  */
button:hover {
    transform: scale(0.95);
    box-shadow: 0px 0px 12px var(--one);
    /* text-shadow: 1px 1px 8px var(--white); */
    cursor: pointer;
}

/* Default link style */
a {
    color: var(--white);
    transition: 150ms ease-in;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 4. Navbar */
/* Navbar display settings */
#navbar {
    display: flex;
    margin: 1.5rem 2rem;
    justify-content: space-between;
    align-items: center;
}

/* Logo settings */
#logo {
    width: 5.5rem;
    height: 5.5rem;
    transition: 300ms;
}

#logo:hover {
    transform: scale(0.9);
}

/* Nav-links style */
#navbar ul {
    display: flex;
    list-style: none;
}

#navbar li a {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 6px;
    padding: 0 1rem;
}

#navbar li a:hover {
    color: var(--one);
    text-shadow: 1px 2px 20px var(--two);
}

@media screen and (max-width: 840px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #logo {
        margin: 0 auto;
    }

    .btn {
        margin: 1rem auto;
    }

    #navbar ul {
        padding: 0;
    }

    #navbar ul li a {
        font-size: 1rem;
        letter-spacing: 3px;
        padding: 0 0.2rem 0 0.6rem;
    }
}

/* 5. Hero-section */
#hero-container {
    margin: 5rem 4rem;
}

/* Hero h1 */
#hero-container h1 {
    font-size: 8rem;
    font-weight: 800;
    margin: -1rem 0 0 0;
    padding-left: 1.5rem;
    animation: fadeInAnimation ease 2s, slideIn ease 1s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        margin-top: -3rem;
    }
    to {
        margin-top: -1rem;
    }
}

/* Hero paragraph */
#hero-container p {
    padding-left: 3rem;
    margin: 0;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--four);
}

/* Brand-color lines */
div.head-line-hor {
    margin: 0;
    background-color: var(--one);
    height: 1px;
    width: 4rem;
}
div.head-line-ver {
    background-color: var(--one);
    height: 2rem;
    width: 1px;
}

/* Hero mediaquerys */
@media screen and (max-width: 840px) {
    #hero-container {
        margin: 0 1.8rem 2rem 1.8rem;
    }

    #hero-container h1 {
        font-size: 3rem;
    }

    #hero-container p {
        padding-left: 2rem;
    }
}

/* 6. Main-section */
/* main-size */
main {
    margin: 2rem 3rem;
}

/* Main section Mediaquerys */
@media screen and (max-width: 840px) {
    main {
        margin: 1rem 1rem;
    }
}

/* 7. Footer */
.foot {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 300;
    color: var(--white);
}

#octocat {
    color: #3ace7f;
}

.foot ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-left: -3rem;
    gap: 3rem;
    list-style: none;
}

.foot img {
    width: 2.5rem;
    margin: 1rem auto;
    transition: 200ms ease;
}

.foot img#octacat {
    width: 2.2rem;
}

.foot img:hover {
    transform: scale(0.9);
}

.foot p {
    margin: 0.3rem;
}

.foot span.brand-color {
    font-size: 1.4rem;
}

input[type='checkbox']{
    /* Hides the default checkbox appearance */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* Makes the checkbox fully transparent */
    background-color: transparent;
    border: none;
    outline: none;
    opacity: 0;
}

/* Theme switch */
#theme-switch {
    justify-content: center;
    text-align: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 1rem;
  }

  /* The slider */
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--three);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }

  .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: var(--one);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--one);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }


/* All code is checked with W3C'S code validator https://validator.w3.org/ */
